language: java
dist: precise

jdk:
  - oraclejdk8
  
cache:
  directories:
  - "$HOME/.gradle/caches"  
 
services:
  - redis-server
  - rabbitmq
  
addons:
  apt:
    sources:
      - sourceline: 'ppa:mosquitto-dev/mosquitto-ppa'
    packages:
      - mosquitto  
  
before_script:
  # install NATS server
  - wget https://github.com/nats-io/gnatsd/releases/download/v1.1.0/gnatsd-v1.1.0-linux-amd64.zip -qO gnatsd.zip
  - unzip gnatsd.zip
  - ./gnatsd-v1.1.0-linux-amd64/gnatsd &
  
install: gradle wrapper --gradle-version 4.2
  
before_install:
  - chmod +x gradlew
  
# script: ./gradlew -i check
script: ./gradlew check

after_success:
  - if [ -e ./gradlew ]; then ./gradlew jacocoTestReport;else gradle jacocoTestReport;fi
  - bash <(curl -s https://codecov.io/bash)
